body, p{
    margin: 0;
    padding: 0%;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 2em;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav img{
    height: 20px;
}
main{
      margin: .5rem auto 11.1em auto;
    text-align: center;
}
input{
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid rgb(167, 166, 166);
}
.btns_container{
    margin-top: 1em;

}
.btns_container button{
    padding: 1em;
    border: none;
}
footer{
    background-color:rgb(167, 166, 166);
}
.footer_top {
    padding: 1em;
    color: rgba(0, 0, 0, 0.589);
    font-size: 13px;
    font-family: Tahoma;
    letter-spacing: 1px;
}

.footer_bottom{
    padding: .9em 1em;
    color: rgba(136, 136, 136, 0.589);
    display: flex;
    justify-content: space-between;
    font-family: Tahoma rgb(161, 159, 159);
    border-top: 1px solid  rgba(0, 0, 0, 0.589);
}
.carbon{
    margin-right: 1.5em;
}
.left a{
    margin-right: 1.5em;
}
.right a{
    margin-right: 1.5em;
}
